<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ .Description }}" />
<meta name="keywords" content="{{ .Keywords }}" />
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="canonical" href="{{ .Permalink }}" />
<title>{{ .Title }}</title>
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/fonts.css" />
<link type="text/css" rel="stylesheet" href="/css/sections-menu.css" />
<link type="text/css" rel="stylesheet" href="/css/left-menu.css" />
<link type="text/css" rel="stylesheet" href="/css/right-menu.css" />

<link type="text/css" rel="stylesheet" href="/css/mobile.css" />
